<html ng-app="tryModule">
    <head>
        <base href="/">

        <link rel="stylesheet" href="./css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-min.js' ></script> -->
        <script src="./js/angular.js" ></script>
        <!-- <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-resource.js' ></script> -->
        <script src='./js/angular-resource.js' ></script>
        <!-- <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.js' ></script> -->
        <script src='./js/angular-route.js' ></script>

        <script src='./js/external/dirPagination.js' ></script>
        <script src='./js/external/ui-bootstrap-tpls-2.5.0.min.js' ></script>

        
        <script src="./js/app/app.module.js" ></script>
        <script src="./js/app/app.config.js" ></script>

        <script src="./js/app/core/post/post.module.js" ></script>
        <script src="./js/app/core/post/post.service.js" ></script>

        <script src="./js/app/blog-list/blog-list.module.js" ></script>
        <script src="./js/app/blog-list/blog-list.component.js" ></script>

        <script src="./js/app/blog-detail/blog-detail.module.js" ></script>
        <script src="./js/app/blog-detail/blog-detail.component.js" ></script>

        <script src="./js/app/utils/confirm-click/confirm-click.module.js" ></script>
        <script src="./js/app/utils/confirm-click/confirm-click.directive.js" ></script>

        <script src="./js/app/utils/try-nav/try-nav.module.js" ></script>
        <script src="./js/app/utils/try-nav/try-nav.directive.js" ></script>

    <style>
        .new-class{
            font-size: 72px;
        }
        .other-class{
            font-size: 32px;
        }
    </style>
    </head>
    <body>
        <!-- <input type="text" ng-model="name" />
        <h1 class="new-class" ng-class="{'other-class': name}"> Hello, 
            <span ng-if='name'> {{name}}</span> 
            <span ng-if='!name'>World!</span>
        </h1>

        <div class="" ng-controller="blogListController">
            <h2>{{title}}</h2>
            <button ng-click="someClickTest()">Click Me</button>
        </div>

        <blog-list2></blog-list2> -->

        <!-- <blog-list3></blog-list3> -->

        <div class="container">
            <try-nav></try-nav>
        </div>
        <div class="container" ng-view>
                
        </div>
        
    </body>
</html>
